html {
  background: #1f1f1f;
  height: 100%;
  font-family: #ebdbb2;
  color: #ebdbb2;
}

.body {
  max-width: 40rem;
  font-family: "Jetbrains Mono";
  margin: 0 auto;
  padding-top: 1em;
  text-align: justify;
}

img {
  max-width: 50rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Fira Code";
  margin-bottom: 0.4rem;
  color: #fabd2f;
}

a {
  text-decoration: none;
  color: #e2e2e2;
}

blockquote {
  background-color: #242424;
  border-radius: 0.2em;
  text-align: justify;
  margin: 0.1rem;
  padding: 0.4rem 1.2rem 0.4rem 1.2rem;
}

::-moz-selection {
  background-color: #91919165;
}

::selection {
  background-color: #91919165;
}

.index {
  text-align: center;
  margin: 0 0;
  padding: 20% 0;
  font-size: 5ch;
}

.index a {
  color: #ffe75e;
}

.index li {
  display: inline-block;
  list-style-type: none;
}

.chroma,
pre {
  font-family: "Jetbrains Mono";
  background-color: #272727;
  max-width: 40rem;
  padding: 1.4rem;
  margin: 0.8rem 0;
  border-radius: 0.2em;
}

.kd,
.kn {
  color: #fb482f;
}

.s {
  color: #b8bb26;
}

.nf {
  color: #83a598;
}

.kc {
  color: #d3869b;
}

.kt {
  color: #fabd2f;
}
