<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link href="{{.Style}}" rel="stylesheet" type="text/css" />
</head>
<body>
    {{.Body}}
</body>
</html>