<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{.PageTitle}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../style/code.css" rel="stylesheet" />
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
        ></script>
        <script src="../style/code.js"></script>
        <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="../style/main.css"
        />
    </head>
    <body>
        {{.Body}}
    </body>
</html>
